<VirtualHost *:{{ http_port }}>
  ServerAdmin webmaster@localhost
  ServerName {{ ansible_hostname }}
  ServerAlias www.{{ ansible_hostname }}
  DocumentRoot /var/www/{{ ansible_hostname }}
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
